In [ ]:
import pandas as pd

nomes = [
    "Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena",
    "Igor", "Juliana", "Kleber", "Laura", "Marcos", "Natália", "Otávio", "Patrícia",
    "Rafael", "Sabrina", "Thiago", "Vanessa"
]

idades = [
    18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
    28, 29, 30, 22, 24, 26, 28, 20, 19, 21
]

dados = {
    "nome": nomes,
    "idade": idades,
    }

df = pd.DataFrame(dados)

# SALVA O ARQUIVO

df.to_csv("pessoas.csv", index=False)

print("Arquivo 'pessoas.csv' criado!")

Arquivo 'pessoas.csv' criado!

In [8]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DesafioAgg").getOrCreate()

df = spark.read.csv("pessoas.csv", header=True, inferSchema=True)

df.printSchema()

root
 |-- nome: string (nullable = true)
 |-- idade: integer (nullable = true)

In [9]:
df.show()

+--------+-----+
|    nome|idade|
+--------+-----+
|     Ana|   18|
|   Bruno|   19|
|  Carlos|   20|
| Daniela|   21|
| Eduardo|   22|
|Fernanda|   23|
| Gabriel|   24|
|  Helena|   25|
|    Igor|   26|
| Juliana|   27|
|  Kleber|   28|
|   Laura|   29|
|  Marcos|   30|
| Natália|   22|
|  Otávio|   24|
|Patrícia|   26|
|  Rafael|   28|
| Sabrina|   20|
|  Thiago|   19|
| Vanessa|   21|
+--------+-----+

In [12]:
from pyspark.sql.functions import col

print("Pessoas com menos de 25 anos: ")
df.filter(col("idade") > 25).show()

Pessoas com menos de 25 anos:
+--------+-----+
|    nome|idade|
+--------+-----+
|    Igor|   26|
| Juliana|   27|
|  Kleber|   28|
|   Laura|   29|
|  Marcos|   30|
|Patrícia|   26|
|  Rafael|   28|
+--------+-----+

In [13]:
df_coluna_nome = df.select("nome")
print("Seleciona a coluna nome: ")
df_coluna_nome.show()

Seleciona a coluna nome:
+--------+
|    nome|
+--------+
|     Ana|
|   Bruno|
|  Carlos|
| Daniela|
| Eduardo|
|Fernanda|
| Gabriel|
|  Helena|
|    Igor|
| Juliana|
|  Kleber|
|   Laura|
|  Marcos|
| Natália|
|  Otávio|
|Patrícia|
|  Rafael|
| Sabrina|
|  Thiago|
| Vanessa|
+--------+

In [16]:
df_total = df.count()

print(f"Número total de resgistros: {df_total}")

Número total de resgistros: 20